body{
	background-color: #bdc2c5;
	font-family: 'Cabin', sans-serif;
}

body {
	background-color: #bdc2c5;
	background-image: url("../img/ws3-wm-750-1334-80.jpg");
	/* background-image: url("../img/ws1-wm-1920-1080-80.jpg"); */
	min-height: 100%;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:top center;
	background-size:cover;
	-moz-background-size: cover;
}

@media (min-width: 751px) {
  body {
		background-image: url("../img/ws3-wm-917-1334-80.jpg");
		background-position:left bottom;
		background-attachment:fixed;
  }
}

@media (min-width: 992px) {
  body {
		background-image: url("../img/ws3-wm-1920-1080-80.jpg");
		background-position:left bottom;
  }
}

.name-banner{
	font-family: 'Special Elite', cursive;
	font-size: 4.5em;
	text-align: center;
}

.well{
	text-align: center;
	background:rgba(212, 216, 209, 0.5);
	border: 1px solid rgba(212, 216, 209, 0.5);
	transition: color 1s ease-in-out;
	transition: background 0.5s ease-in-out;
}

.well:hover{
	color: rgba(0, 0, 0, 0.8);
	background:rgba(212, 216, 209, 0.9);
}
