/*way of including a screenshot in github in .md file*/
/*
# Descriptor of image
![Screenshot](img/screenshot.jpg?raw=true)
*/

/*essential background image styling*/

body{
	background-color: #bdc2c5;
	background-image: url("../img/cream_pixels_@2X.png");
	background-repeat: repeat;
	font-family: 'Cabin', sans-serif;
}

/*
body{
	font-family: 'Cabin', sans-serif;
}
*/

/*Ensures that the dropdown-menu appears only when navbar is expanded*/
@media (min-width: 768px) {
	.navbar .dropdown-menu li a:hover{
		background-color:#3a4e62;
		color:white;
	}

	.navbar .dropdown:hover .dropdown-menu {
	  display: block;
	}
}

.banner{
	align: center;
	padding-top:75px;
	font-family: 'Special Elite', cursive;
	font-size: 4.5em;
	text-align: center;
}

h1{
	align: left;
	padding-top:75px;
	font-family: 'Special Elite', cursive;
	font-size: 3.5em;
	text-align: left;
}

h2{
	align: left;
	padding-top:75px;
	font-family: 'Special Elite', cursive;
	font-size: 2.5em;
	text-align: left;
}

.img-container {
  position: relative;
  width: 100%;
}
.image {
  display: inline;
  width: 100%;
  height: auto;
}

.parallax{
	background-image: url('../img/nm-1920-320.jpg');
	min-height:320px;
	background-attachment:fixed;
	background-position:top center;
	background-repeat:no-repeat;
	background-size:auto;
}

/*Initializes banner across image with zero width*/
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  width: 0;
  height: 30%;
  transition: 1s ease;
}

.img-container:hover .overlay {
  width: 100%;
}

.text {
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.9);
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#my-footer{
	padding-top: 20px;
	background-color: black;
	color: white;
}

/*overlays an image at the top of the page*/
#top-overlay {
  width:100%;
  position:fixed;
  top:0px;
  left:0;
  background:url('../img/bg-bunting.png') repeat-x center top;
  text-align:center;
  height:100px;
}

nav.navbar{
	background-color: black;
	color: white;
}

.dropdown .dropdown-menu li a:hover{
	background-color:#3a4e62;
	color:white;
}

.label{
	font-weight:lighter;
}

.padding-20{
	padding-top:20px;
}

/*FIXME change color and transparence and alignment */

.well{
	text-align: center;
	background:rgba(212, 216, 209, 0.5);
	border: 1px solid rgba(212, 216, 209, 0.5);
	transition: color 1s ease-in-out;
	transition: background 0.5s ease-in-out;
}

.well:hover{
	color: rgba(0, 0, 0, 0.8);
	background:rgba(212, 216, 209, 0.9);
}

/*
font-family: 'Ek Mukta', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Cabin', sans-serif;
*/

/*
p{
	font-family: 'Rock Salt', cursive;
	font-family: 'Amatic SC', cursive;
	font-family: 'Pacifico', cursive;
	font-family: 'Kavoon', cursive;
	font-family: 'Delius Unicase', cursive;
	font-family: 'Special Elite', cursive;
}
Source Sans Pro: menus
Rock Salt: Headers
Give You Glory: Headers
Shadows Into Light Two: Headers
Special Elite: Headers
Cabin: text
*/

/* How to make a textbox with a certain level of opacity */
/*
div{
background-color: rgba(5,4,2,0.1);
width:850px;
height: 100%;
margin-left:auto;
margin-right:auto;
padding: 15px; }
*/
